html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
  font-family: 'Playfair Display', serif;
  background: #7E8063;
  color: #000;
  margin: 0;
}

section {
  max-width: 1280px;
  margin: auto;
  padding: 2rem 2rem 2rem 4rem;
}

#container1 {
  display: flex;
}

#container1 div {
  flex: 1 1 0;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2.7rem;
}

/* typewriter code source: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h1 {
  color: #000;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: normal;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000 }
}

#intro {
    padding: 0 8rem 0 8rem;
}

p {
  padding-right: 4rem;
}

.attribute {
  padding-left: 8rem;
}

h2 {
  font-family: 'Livvic', sans-serif;
  font-size: 2rem;
  background-color: #F2F0D8;
}

#stats-title {
  width: 31%;
}

#benefits-title {
  width: 36%;
}

#choosing-title {
  width: 42%;
}

#fact-title {
  width: 54%;
}

img {
  max-width: 100%;
  padding: 0 8rem 0 8rem;
}

#chart {
  width: 60%;
  height: 500px;
}

.icon {
  padding: 2rem 2rem 2rem 0;
  display: inline-block;
}


button {
  align-items: center;
}

#funfact {
	box-shadow: 0px 1px 0px 0px #ccb38e;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.plant {
  display: inline;
  padding: 2rem 5rem 2rem 12rem;
}

footer {
  font-family: 'Playfair Display', serif;
  text-align: left;
  margin: 0;
  font-size: 1rem;
  padding: 2rem 17rem 2rem 17rem;
  background-color: #D9C5A0;
}

footer a {
    color: #8A6F57;
}

footer a:hover {
    color: #261901;
    text-decoration: inherit;
}

a {
  color: #D8B689;
}

a:hover {
  color: #B89669;
  text-decoration: inherit;
}

@media screen and (max-width: 850px) {
  section {
    padding-left: 2rem;
  }
  #benefits {
    padding-right: 2rem;
  }
  footer {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  #intro {
    padding: 2rem 1rem 2rem 1rem;
  }

  img {
    padding: 0 1rem 0 1rem;
  }

  #stats-title {
    width: 100%;
  }

  #benefits-title {
    width: 100%;
  }

  #choosing-title {
    width: 100%;
  }

  #fact-title {
    width: 100%;
  }

  .plant {
    padding: 1rem 1rem 1rem 1rem;
  }

  #chart {
    margin: auto;
    width: 100%;
  }

  .attribute {
    padding: 0 2rem 0 2rem;
  }
}
